header {
    text-align: center;
    color: beige;
}

html {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/380/523/681/design-neon-abstract-light-design-hd-wallpaper-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

p {
    color: bisque;
    border-style: hidden;
    border-color: cadetblue;
    padding: 10px;
    margin: 20px 200px;
    text-align: center;
    font-size: large;
}

.pic {
    border-style: outset;
    padding: 10px 100px 10px 100px;
    margin: 100px 500px 200px 500px;   
}